# Review of Basic Python

Python is a modern, easy-to-learn, object-oriented programming language. It has a powerful
set of built-in data types and easy-to-use control constructs. Since Python is an interpreted
language, it is most easily reviewed by simply looking at and describing interactive sessions.

You should recall that the interpreter displays the familiar `>>>` prompt and then evaluates the
Python construct that you provide. For example,

In [ ]:
print("Algorithms and Data Structures")

Algorithms and Data Structures

shows the prompt, the print function, the result, and the next prompt.

## Getting Started with Data
We stated above that Python supports the **object-oriented programming paradigm**. This means
that Python considers data to be the focal point of the **problem-solving process**. In Python, as
well as in any other object-oriented programming language, we define a **class** to be a description
of what the data look like (**the state**) and what the data can do (**the behavior**). 

**Classes** are analogous to **abstract data types** because a user of a class only sees the state and behavior of
a data item. Data items are called **objects** in the object-oriented paradigm. *An object is an instance of a class.*

## Getting Started with Data
We will begin our review by considering the atomic data types. Python has two main built-in
numeric classes that implement the integer and floating point data types. These Python classes
are called `int` and `float`.

The standard **arithmetic operations**, `+`, `−`, `*`, `/`, and `**` (**exponentiation**), can be used with parentheses forcing the order of operations away from normal operator
precedence. Other very useful operations are the remainder (modulo) operator, %, and **integer division**, `//`. Note that when two integers are divided, the result is a floating point. The **integer division** operator returns the **integer portion** of the **quotient** by** truncating any fractional part**.

**Operation Name Operator Explanation**
- less than `<` Less than operator
- greater than `>` Greater than operator
- less than or equal `<=` Less than or equal to operator
- greater than or equal `>=` Greater than or equal to operator
- equal `==` Equality operator
- not equal `=!` Not equal operator
- logical `and` and Both operands True for result to be True
- logical `or` or Either operand True for result to be True
- logical not not Negates the truth value: False becomes True, True becomes False

In [ ]:
print(2+3*4) #14
print((2+3)*4) #20
print(2**10) #1024
print(6/3) #2.0
print(7/3) #2.33333333333
print(7//3) #2
print(7%3) #1
print(3/6) #0.5
print(3//6) #0
print(3%6) #3
print(2**100) # 1267650600228229401496703205376

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type, implemented as the Python `bool` class, will be quite useful for
representing truth values. The possible state values for a boolean object are `True` and `False`
with the standard boolean operators, `and`, `or`, and `not`.

In [ ]:
print(True)
print(False)
print(True or False)
print(True and True)
print(not (False and True))

True
False
True
True
True

Boolean data objects are also used as results for comparison operators such as equality (`==`)
and greater than (`>`). In addition, relational operators and logical operators can be combined
together to form complex logical questions.

In [ ]:
print(5 == 10)
print(10 > 5)

False
True

Identifiers are used in programming languages as names. In Python, identifiers start with a
**letter** or **an underscore** (`_`), are **case sensitive**, and can be of any length. Remember that it is
always a good idea to use names that convey meaning so that your program code is easier to
read and understand.
A Python variable is created when a name is used for the first time on the left-hand side of
an assignment statement. Assignment statements provide a way to associate a name with a
value. The variable will hold a reference to a piece of data and not the data itself. Consider the
following session:

In [ ]:
the_sum = 0
the_sum

0

In [ ]:
the_sum = the_sum + 1
the_sum

1

In [ ]:
the_sum = True
the_sum

True

**Operation Name Operator Explanation**
- indexing `[ ]` Access an element of a sequence
- concatenation `+` Combine sequences together
- repetition `*` Concatenate a repeated number of times
- membership `in` Ask whether an item is in a sequence
- length `len` Ask the number of items in the sequence
- slicing [ `:` ] Extract a part of a sequence

In [ ]:
print([1,3,True,6.5])

[1, 3, True, 6.5]

In [ ]:
my_list = [1,3,True,6.5]
my_list

[1, 3, True, 6.5]

In [ ]:
# Ask whether an item is in a sequence
3 in  my_list

In [ ]:
my_list + [False]

[1, 3, True, 6.5, False]

In [ ]:
my_list * 2

[1, 3, True, 6.5, 1, 3, True, 6.5]

In [ ]:
my_list = [0] * 6
my_list

[0, 0, 0, 0, 0, 0]

### Important Methods used in list class
Method      Name                    Use Explanation
- append     `a_list.append(item)` Adds a new item to the end of a list
- insert     `a_list.insert(i,item)` Inserts an item at the 𝑖th position in a list
- pop        `a_list.pop()` Removes and returns the last item in a list
- pop        `a_list.pop(i)` Removes and returns the 𝑖th item in a list
- sort       `a_list.sort()` Modifies a list to be sorted
- reverse    `a_list.reverse()` Modifies a list to be in reverse order
- del        `del a_list[i]` Deletes the item in the 𝑖th position
- index      `a_list.index(item) `Returns the index of the first occurrence of item
- count      `a_list.count(item)` Returns the number of occurrences of item
- remove     `a_list.remove(item)` Removes the first occurrence of item

In [ ]:
my_list = [1024, 3, True, 6.5]
my_list.append(False)
print(my_list)

my_list.insert(2,4.5)
print(my_list)

print(my_list.pop())
print(my_list)

print(my_list.pop(1))
print(my_list)

my_list.pop(2)
print(my_list)

my_list.sort() # All data type in the list should be in same type
print(my_list)

my_list.reverse()
print(my_list)

print(my_list.count(6.5))

print(my_list.index(4.5))

my_list.remove(6.5)
print(my_list)

del my_list[0]
print(my_list)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

In this fragment we are asking the integer object 54 to execute its add method (called `__add__`
in Python) and passing it 21 as the value to add. The result is the sum, 75. Of course, we usually
write this as 54 + 21. We will say much more about these methods later in this section.

In [ ]:
(45).__add__(50)

95

One common Python function that is often discussed in conjunction with lists is the `range`
function. range produces a range object that represents a sequence of values. By using the
`list` function, it is possible to see the value of the range object as a list. This is illustrated
below.

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(5,10,2))

[5, 7, 9]

In [ ]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

**Strings** are sequential collections of zero or more letters, numbers and other symbols. We call 
these letters, numbers and other symbols **characters**.  Literal string values are differentiated from 
identifiers by using quotation marks (either single or double).

In [1]:
"David"

'David'

In [3]:
my_name = "David"
my_name[3]

'i'